html, head, body {
    /* Removed height:100% because the navbar doesn't stick */
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
}

* {
    font-family: WhitneyBold;
    box-sizing: border-box;
}

@font-face {
    font-family: WhitneyBold;
    src: url(../fonts/whitneybold.woff);
}

@font-face {
    font-family: WhitneyMedium;
    src: url(../fonts/whitneymedium.woff);
}

.code { 
    color: rgb(38, 64, 185);
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

a.navlogo {
    text-decoration: none;
}

header.siteNavHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10%;
    background-color:white;

    /* Fixes navbar at the top */
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    transition: 0.8s;

    z-index: 500;
}

header.siteNavScrolled {
    background: rgb(255, 255, 255, 0.95);
}

h1.navMainTitle {
    color: rgb(38, 64, 185);
    text-align: center;
    font-size: 32px;
    font-weight: 550;
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
    padding: 0px;
    display:inline-block; 
}

nav.navbarItems li a {
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    color:rgb(38, 64, 185);
    transition: all 0.2s ease 0s;
}

ul.navbarLinks {
    list-style: none;
}

ul.navbarLinks li {
    display: inline-block;
    padding: 0px 20px;
}

ul.navbarLinks li a:hover {
    color: black;
}

li.navbarDivider {
    color:rgb(38, 64, 185);
}

div.mainContent {
    margin-top: 100px;
}

section.homePageSection {
    margin: 30px auto;
    padding: 0 20px;
    padding-top: 15vh;
    width: 100%; 
    display: grid;

    /*Define our columns */
    grid-template-columns: 1fr 4.5fr 1fr;
    grid-gap: 1em;
}

section.titlePageSection {
    margin: 30px auto;
    padding: 0 20px;
    width: 100%; 
    display: grid;

    /*Define our columns */
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

section.titlePageSection article {
    justify-content: center;
    display: flex;
}

div.logoGML {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;

    color: rgb(38, 64, 185);
    font-weight: 500;
    font-size: 50px;
    font-family: 'Fredoka One', cursive;
}

span.titleText {
    color: rgb(38, 64, 185);
    font-family: WhitneyBold;
    font-weight: bold;
    font-size: 60px;
}

p.homePageSubtitle {
    color:#8f8f8f;
    font-size: 18px;
    font-family: WhitneyMedium;
    font-weight: 500;
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
}

a.homePageBtns {
    display:inline-block;
    padding:0.5em 2em;
    background-color: #1a73e8;
    border:1.5px solid #1a73e8;
    outline: none;
    margin:0em 6px 0px 6px;
    border-radius:0.5em;
    box-sizing: border-box;
    text-decoration:none;
    color:white;
    font-size: 14px;
    font-weight: 500;
    text-align:center;
    transition: all 0.2s;
    cursor: pointer;
}

a.homePageBtns:hover {
    border-color: white;
    box-shadow: 0 0 0 3px #1a73e8;
}

svg.waveSection {
    width: 100%;
    bottom: 0;
    position: absolute;
}

/* ---------------- About Page ---------------- */

a.navlogoAbout {
    text-decoration: none;
}

header.siteNavHeaderAbout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10%;
    background-color: rgb(53, 83, 212);

    /* Fixes navbar at the top */
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    transition: 0.8s;

    z-index: 500;
}

header.siteNavScrolledAbout {
    background: rgb(0, 0, 0, 0.5);
}

h1.navMainTitleAbout {
    color: white;
    text-align: center;
    font-size: 32px;
    font-weight: 550;
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
    padding: 0px;
    display:inline-block; 
}

nav.navbarItemsAbout li a {
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    color:white;
    transition: all 0.2s ease 0s;
}

ul.navbarLinksAbout {
    list-style: none;
}

ul.navbarLinksAbout li {
    display: inline-block;
    padding: 0px 20px;
}

ul.navbarLinksAbout li a:hover {
    color: black;
}

li.navbarDividerAbout {
    color:white;
}

div.aboutUsBackgroundDiv {
    background-color: rgb(53, 83, 212);
    min-height: 350px;
    display: flex;
    top: 0;
}

section.aboutUsBackgroundSection {
    margin: 0px auto;
    margin-top: 160px;
    margin-bottom: 30px;
    padding: 0px 10%;
    width: 100%; 
    display: grid;

    /*Define our columns */
    grid-template-columns: 1fr;
    grid-gap: 5px;
}

span.aboutUsTitle {
    font-family: WhitneyBold;
    font-size: 50px;
    color: white;
    margin: 0;
}

span.aboutUsSubTitle {
    font-family: WhitneyMedium;
    color: white;
    margin: 0;
}

/* ---------------- Officers Page ---------------- */

section.mainOfficerSection {
    background-color:white;
    margin: 30px auto;
    padding: 20px 40px;
    width: 100%; 
    display: grid;

    /*Define our columns */
    grid-template-columns: 1fr;
    grid-gap: 1em;
}

article.officerTitleArticle {
    display: flex;
    justify-content: center;
    align-items: center;
}

span.officersTitleText {
    color: black;
    font-family: WhitneyBold;
    font-weight: bold;
    font-size: 40px;
    padding-bottom: 30px;
}

span.officersTitleSubText {
    color: black;
    font-family: WhitneyBold;
    font-weight: bold;
    font-size: 20px;
}

section.userProfilesSection {
    margin: 30px auto;
    padding: 20px 80px;
    width: 100%; 
    display: grid;
    justify-content: center;

    /*Define our columns */
    grid-template-columns: 300px 300px 300px;
    grid-gap: 80px;
}

section.userProfilesSection article {
    border-radius: 10px;
    font-family: WhitneyMedium;
}

section.profileCardSection {
    background-color:rgb(53, 83, 212);

    border-radius: 10px;
    margin: 0px auto;
    padding: 10px 10px;
    width: 100%; 
    display: grid;
    justify-content: center;

    /*Define our columns */
    grid-template-columns: 1fr;
    grid-gap: 15px;
}

article.centeredArticle {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}

p.pfpName {
    display: block;
    margin: 0;
    margin-top: 25px;
    padding: 0;
    font-size: 20px;
    color: white;
    font-family: WhitneyBold;
}

img.pfp {
    width: 210px;
    height: auto;
    padding: 10px;
}

i.userLinks {
    font-size: 1.8em;
    color:white;
    padding-bottom: 5px;
    transition: 0.2s;
}

i.userLinks:hover {
    color:#a8a8a8;
}

p.role {
    display: block;
    margin: 0px;
    margin-top: 5px;
    padding: 0;
    color: #bababa;
    font-size: 17px;
    font-family: WhitneyMedium;
}

/* ---------------- Events Page ---------------- */

div.noEventsYet {
    position: absolute;
    top:  40%;
    left: 50%;
    transform: translate(-50%,-40%);
}

h1.noEventsTitle {
    font-size: 45px;
    color: rgb(59, 96, 255);
    margin-bottom: 0px;
}

p.noEventsSubtitle {
    margin: 0px;
    font-family: WhitneyMedium;
}