html, head, body {
    /* Removed height:100% because the navbar doesn't stick */
    width: 100%;
    margin: 0;
    background-color:rgb(38, 64, 185);
}

* {
    font-family: WhitneyBold;
    box-sizing: border-box;
}

@font-face {
    font-family: WhitneyBold;
    src: url(../fonts/whitneybold.woff);
}

/* Ignore this style - don't delete
.code { 
    color: white;
    font-size: 32px;
    font-weight: 550;
}
*/

a.navlogo {
    text-decoration: none;
}

header.siteNavHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10%;
    background-color:rgb(38, 64, 185);

    /* Fixes navbar at the top */
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    transition: 0.8s;
}

header.siteNavScrolled {
    background: rgba(0, 0, 0, 0.5);
}

h1.navMainTitle {
    color: white;
    text-align: center;
    font-size: 32px;
    font-weight: 550;
    margin: 0px;
    padding: 0px;
}

nav.navbarItems li a {
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    color:#cfcfcf;
    transition: all 0.2s ease 0s;
}

ul.navbarLinks {
    list-style: none;
}

ul.navbarLinks li {
    display: inline-block;
    padding: 0px 20px;
}

ul.navbarLinks li a:hover {
    color:white;
}

li.navbarDivider {
    color: #cfcfcf;
}

div.mainContent {
    margin-top: 100px;
}

section.homePageSection {
    margin: 30px auto;
    padding: 0 20px;
    width: 100%; 
    display: grid;

    /*Define our columns */
    grid-template-columns: 1fr 4fr 1fr;
    grid-gap: 1em;
}

section.titlePageSection {
    margin: 30px auto;
    padding: 0 20px;
    width: 100%; 
    display: grid;

    /*Define our columns */
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

section.titlePageSection article {
    justify-content: center;
    display: flex;
}

div.logoGML {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;

    color: white;
    font-weight: 500;
    font-size: 50px;
    font-family: 'Fredoka One', cursive;
}

span.titleText {
    color: white;
    font-family: WhitneyBold;
    font-weight: bold;
    font-size: 60px;
}

p.homePageSubtitle {
    color: #cfcfcf;
    font-size: 18px;
    font-family: arial;
    font-weight: 500;
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
}

button.homePageBtns {
    display:inline-block;
    padding:1em 2em;
    background-color: #1a73e8;
    border:1px solid #1a73e8;
    outline: none;
    margin:0em 10px 0px 10px;
    border-radius:0.5em;
    box-sizing: border-box;
    text-decoration:none;
    color:white;
    font-size: 14px;
    font-weight: 500;
    text-align:center;
    transition: all 0.2s;
    cursor: pointer;
}

button.homePageBtns:hover {
    border-color:rgb(38, 64, 185);
    box-shadow: 0 0 0 3px #1a73e8;
}